---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

import H1 from "../../components/H1.astro";
import Main from "../../components/Main.astro";
import Share from "../../components/Share.astro";
import TableOfContent from "../../components/TableOfContent.astro";
import Layout from "../../layouts/Layout.astro";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");

  const paths = posts.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: {
      post,
    },
  }));

  return paths;
};

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const { Content, headings } = await post.render();
---

<Layout
  title={post.data.title}
  image={post.data.image}
  description={post.data.description}
>
  <Main>
    <a href="/blog" class="mb-16 block text-2xl text-zinc-500 underline">
      ← Back to blog
    </a>

    <H1 text={post.data.title} />

    <img
      src="{post.data.image}"
      alt={post.data.title}
      class="mb-28 aspect-thumbnail rounded-2xl object-cover shadow-xl"
    />

    <div class="mb-10">
      <TableOfContent headings={headings} />
    </div>

    <div class="relative">
      <Share post={post} />

      <div class="prose prose-2xl relative overflow-visible">
        <Content />
      </div>
    </div>
  </Main>
</Layout>
